@import "tailwindcss";



@theme inline {
 
  --font-sans: var(--font-acme);
  
}

@media (prefers-color-scheme: dark) {
 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
 @keyframes glow{
  0%{
    transform: translateX(-100%);
     
  }
  /* 50%{
    transform: translateX(100%);
  }  */
  100%{
    transform: translateX(00%);
    
  }
 }


 .animate-glow{
animation: glow s linear ease infinite;
 }

 @keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
 }

 .animate-spin{
  animation: spin 30s linear infinite;
 }


   
 @keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative rounded-2xl overflow-hidden;
  }

  .card-wrapper::before {
    content: "";
    position: absolute;
    inset: -50%;
    border-radius: inherit;
    background: conic-gradient(
      rgba(3, 46, 19, 0.2) 0deg,
      rgba(3, 54, 35, 0.2) 0deg,
      transparent 80deg
    );
    animation: border-spin 4s linear infinite;
    filter: blur(10px);
  }

  .card-content {
    @apply relative z-10 w-[calc(100%-5px)] h-[calc(100%-5px)] bg-green-950/10 rounded-2xl;
  }
}

@keyframes leftToRight {
  0% {
     
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-leftToRight {
  animation: leftToRight 3s linear infinite;
}

@keyframes topToBottom {
  0% {
    transform: translateY(-20%)
  }
  100%{
    transform: translateY(0%)
  }
}

.animate-topToBottom{
  animation: topToBottom 2s linear infinite;
}   

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
100%{
 opacity: 1;
} 
}
  
.animate-fadeIn{
  animation: fadeIn 1s ease infinite
}   